*{

    margin: 0;
    padding:0;
    box-sizing: border-box;
}
:root{

--cor-principal:rgb(247, 37, 37);
--cor-secundaria:#D73240;
--cor-terciaria:#e08703;
--cor-divisao:#efebe1;

}

/* inicio cabeçalho */

header{
position: relative;
display: flex;
justify-content: space-between;
padding:10px;
width: 100%;
height: 150px;
background-image: url(../imagens/carnes-cpt.jpg) ;
background-repeat: no-repeat;
background-size: cover;


}
header .logo{
    
    width: 75px;
    height: 75px;
    background-color: var(--cor-secundaria);
}

header .contesto{
  
    width: 75px;
    height: 75px;
    background-color: var(--cor-secundaria);

}

header .contato{

    width: 75px;
    height: 75px;
    background-color: var(--cor-secundaria);


}
header nav{
    position: absolute;
    display: inline-block;
    bottom: 10px;
    left: 10px;
    padding: 2px 2px 2px 2px;
    background-color: var(--cor-secundaria);
    border-radius: 15px;
}
header nav ul{

    display:flex;
    gap: 20px;
}
header nav ul li{
    list-style: none;
    padding: 5px;
    border-radius: 5px;

    &:hover{

        background-color: var(--cor-terciaria);

    }
 
}
header nav #produto{
    position: relative;
}
header nav #menudw{
    
    background-color: var(--cor-terciaria);
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    transition: height 500ms;
    top: 100%;
    left: 0;
    height: 0;
    width: 130px;

 

}

header nav ul li:hover #menudw{

    height: 70px;
    

}
header nav ul li ul{
height: 0;
overflow: hidden;

    
}

/* deslocamento das  li home e compras */
header nav ul #home{
    transition: transform 500ms,background-color 500ms;
    &:hover{

        transform: translatex(6px);
    }
    
}
header nav ul #compras{
    transition:  transform 500ms,background-color 500ms;
    &:hover{

        transform: translatex(-8px);
    }
    
}
/* ... */

header nav ul li a{
   text-decoration: none;
   color: white;
    
}




/* fim cabeçalho */